.nav-bar {
    overflow: hidden;
    background-color: #9fc4f8;
}

.nav-bar a {
    float: left;
    font-size: 16px;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.product {
    float: left;
    overflow: hidden;
}

.product .product-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: #000000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.product:hover .product-button {
    background-color: #9fc4f8;
}

.product-content {
    display: none;
    position: absolute;
    background-color: #9fc4f8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.product-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.product-content a:hover {
    background-color: #ddd;
}

.product:hover .product-content {
    display: block;
}

.container {
    background-color: #8d7cc2;
}

.upper-content p,
.upper-img {
    display: inline-block;
    padding: 10px;
}

.upper-content p {
    width: 49%;
}

.upper-img {
    width: 49%
}

.container,
.nav-bar {
    width: 75%;
    margin: auto;
}